default: &default
  adapter: mysql2
  encoding: utf8
  host: <%= ENV["DATABASE_HOSTNAME"] %>
  database: <%= ENV["DATABASE_NAME"] %>
  username: <%= ENV["DATABASE_USERNAME"] %>
  password: <%= ENV["DATABASE_PASSWORD"] %>
  redis:
    host: redis://<%= ENV["REDIS_HOSTNAME"] %>:6379
    options:
      :namespace: <%= ENV["DATABASE_NAME"] %>
      :key: "_session_id"
      :compress: false

development:
  <<: *default
  database: skeleton_development

test:
  <<: *default
  database: skeleton_test

staging:
  <<: *default
  database: skeleton_staging

production:
  <<: *default
  database: skeleton_production
